/*================================ Common styles=================================*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.container {
  max-width: 288px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*=====================================Header styles====================================== */
.page-header-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.studio-color {
  color: #2e2f42;
}

@media only screen and (max-width: 767px) {
  .menu,
  .contacts {
    display: none;
  }

  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }
}
@media only screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .menu-link.active {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.active::after {
    position: absolute;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    left: 0;
    bottom: -1px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: flex;
    align-content: center;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}
/* ====================Main styles================== */
/* section hero */
.hero {
  max-width: 320px;
  max-height: 432px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2e2f42;
  padding: 70px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobile/Dark-bg-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title {
  display: block;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
  max-width: 216px;
  max-height: 160px;
  margin-bottom: 71px;
}

.hero-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 436px;
    padding: 110px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet/dark-bg1x.jpeg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    max-height: 120px;
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    max-height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .hero-btn {
    padding-right: 20px;
    padding-left: 20px;
  }
}
